
// overwrite bootstrap variables here
$primary: #4482a9;
$secondary: #4482a9;
$success: #f8da19;
$info: #c0d1e6;
$warning: #ec970f;
$danger: #ec970f;
$light: #c0d1e6;
$dark: #1a2740;

$body-bg: #ffffff;
$body-color: #1a2740;

$text-light: #ffffff;

$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
// Import Bootstrap and BootstrapVue source SCSS files
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body, #app {height: 100%; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;font-family: 'Montserrat', sans-serif;}
.navbar {margin: 0; padding: 0;}
.bg-dark {
    & h1,h2,h3,h4,strong {
        color:white;
    }
}
.gm-ui-hover-effect {background: transparent!important;border: 0!important;}
h4 {font-size: 16px;margin: 0.5em;}
p {font-size: 12px;margin: 0.5em;}
button {border: 0!important;outline: none;box-shadow:none !important;}
button:focus {border: 0!important;outline: none;box-shadow:none !important;}
button.close {background: transparent;border: 0;}
.table > tbody > tr > td {
    vertical-align: middle;
    & h5, p {
        margin:0;
    }
}

#badge {position: fixed; bottom: 64px; left: 0;height: 48px; z-index: 10; background-color: #ec970f; }
#badge img {float: left;}
#badge .giveAccess { height: 48px;  line-height: 48px; padding: 8px 12px; font-weight: bold; font-size: 20px; color: white;}

// Google map elements
.infocontent img {
    max-height: 600px;
    max-width: 600px;
}
